#!/usr/bin/env nextflow
/*
 * Copyright (c) 2024, MunitaLab and the authors.
 *
 * @authors
 * Francisca Reyes <fcastillor.19@gmail.com>
 * Roberto Munita
 */

params {
    input = 'data/data_fastq.csv'
    output_dir = 'path/to/Results'
    savescript = ''
}

process {
    withName: fastqc {
        cpus = 4
        memory = '8 GB'
        container = 'biocontainers/fastqc:v0.11.9_cv8'

    }
}

executor {
    name = 'local'
}

docker {
    enabled = true
}