// nextflow.config

params {
    input = 'data/data_fastq.csv'
    output_dir = 'Results'
    savescript = ''
}

process {
    withLabel: low_memory {
        memory = '4 GB'
        cpus = 2
    }

    withLabel: high_memory {
        memory = '16 GB'
        cpus = 8
    }

    withName: fastqc {
        cpus = 4
        memory = '8 GB'
        container = 'biocontainers/fastqc:v0.11.9_cv8'
    }
}

executor {
    name = 'local'
}

docker {
    enabled = true
}
