/*
* Autores:
* Francisca Reyes <fcastillor.19@gmail.com>
* Roberto Munita
*/

params {
    input_dir = null
    output_dir = null
    cpus = 4
    memory = '8GB'
    paired_end = true // Inicializar el parámetro paired_end
    adapter_sequence_file = '/Users/franciscareyes/Desktop/my_proyect_nextflow/DifferentialSplicingAnalysis/adapters/TruSeq3-PE-2.fa'
    slidingwindow = 4
}

process {
    withName: fastqc2 {
        cpus = params.cpus
        memory = params.memory
    }
}

process {
    withName: 'trimmomatic' {
        environment {
            PATH = "$PATH:/usr/local/bin/trimmomatic"
        }
    }
}

executor {
    name = 'local'
}

docker {
    enabled = true
}


executor {
    name = 'local'
}

docker {
    enabled = true
}
